@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Gradients */
    --radial-gradient: radial-gradient(
      ellipse at top right,
      theme('colors.blue.400 / 70%') 10%,
      theme('colors.blue.800 / 70%') 70%,
      theme('colors.blue.800 / 90%') 90%
    );
    --gradient-curio-insights: radial-gradient(
      ellipse at top right,
      theme('colors.blue.950') 10%,
      theme('colors.blue.900') 50%,
      theme('colors.blue.700') 90%
    );
    --gradient-nft-tracker: linear-gradient(90deg, #ee741d 0%, #ea580c 50%, #c2410c 100%);
    --gradient-art-box: linear-gradient(90deg, #2563eb 0%, #4a8dfa 50%, #1e3a8a 100%);
    --gradient-art-box-marketplace: linear-gradient(90deg, #4b5563 0%, #525864 50%, #1f2937 100%);
    --gradient-mint-heaven: linear-gradient(90deg, #b91c1c 0%, #2563eb 50%, #3b82f6 100%);
    
    /* Base colors */
    --background: theme('colors.white');
    --headline: theme('colors.black');
    --headline-profile: theme('colors.black');
    
    /* Accent colors */
    --accent-primary: theme('colors.gray.200 / 70%');
    --accent-secondary: theme('colors.gray.100 / 80%');

    /* Text colors */
    --text: theme('colors.black');
    --text-muted: theme('colors.black / 70%');
    --text-muted-2: theme('colors.black / 50%');

    /* Button colors */
    --button-bg-primary: theme('colors.black');
    --button-bg-hover: theme('colors.white');
    --button-text-primary: theme('colors.white');
    --button-text-secondary: theme('colors.black');

    /* Border colors */
    --border-main: theme('colors.white / 60%');
    --border-translucent: theme('colors.white / 30%');

    /* Theme switch colors */
    --themeswitch-text-primary: theme('colors.black');
    --themeswitch-text-secondary: theme('colors.white');
    --themeswitch-bg-primary: theme('colors.white');
    --themeswitch-bg-secondary: theme('colors.black');

    /* Dialog variables */
    --dialog-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    --dialog-backdrop: rgba(0, 0, 0, 0.4);
  }

  .dark {
    /* Gradients */
    --radial-gradient: radial-gradient(
      ellipse at top right,
      theme('colors.yellow.500 / 70%') 10%,
      theme('colors.gray.900 / 90%') 60%,
      theme('colors.black / 90%') 90%
    );

    /* Base colors */
    --background: theme('colors.black');
    --headline: theme('colors.white');
    --headline-profile: #a5e535;

    /* Accent colors */
    --accent-primary: theme('colors.yellow.300');
    --accent-secondary: theme('colors.yellow.100 / 10%');

    /* Text colors */
    --text: theme('colors.white');
    --text-muted: theme('colors.white / 70%');
    --text-muted-2: theme('colors.white / 50%');

    /* Button colors */
    --button-bg-primary: theme('colors.yellow.300');
    --button-text-primary: theme('colors.black');
    --button-text-secondary: theme('colors.white');

    /* Border colors */
    --border-main: theme('colors.black');
    --border-translucent: theme('colors.white / 30%');

    /* Theme switch colors */
    --themeswitch-text-primary: theme('colors.black');
    --themeswitch-text-secondary: theme('colors.white');
    --themeswitch-bg-primary: theme('colors.white');
    --themeswitch-bg-secondary: theme('colors.black');

    /* Dialog variables */
    --dialog-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
    --dialog-backdrop: rgba(0, 0, 0, 0.7);
  }
}

.intro-fm-yellow {
  --fm-yellow: #c8c022;
  background-color: #1e39c2;
  background-image: linear-gradient(162deg,#1e39c2,#1e39c2 59%,#c8c022 0,#c8c022 0);
}

.intro-nft-tracker {
  background: var(--gradient-nft-tracker);
}

.intro-art-box {
  background: var(--gradient-art-box);
}

.intro-art-box-marketplace {
  background: var(--gradient-art-box-marketplace);
}

.intro-mint-heaven {
  background: var(--gradient-mint-heaven);
}

.intro-curio-insights {
  background: var(--gradient-curio-insights);
}

