@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Gradients */
    --radial-gradient: radial-gradient(
      ellipse at top right,
      theme('colors.blue.400 / 70%') 10%,
      theme('colors.blue.800 / 70%') 70%,
      theme('colors.blue.800 / 90%') 90%
    );
    --gradient-curio-insights: radial-gradient(
      ellipse at top right,
      theme('colors.blue.950') 10%,
      theme('colors.blue.900') 50%,
      theme('colors.blue.700') 90%
    );
    --gradient-nft-tracker: linear-gradient(90deg, #ee741d 0%, #ea580c 50%, #c2410c 100%);
    --gradient-art-box: linear-gradient(90deg, #2563eb 0%, #4a8dfa 50%, #1e3a8a 100%);
    --gradient-art-box-marketplace: linear-gradient(90deg, #4b5563 0%, #525864 50%, #1f2937 100%);
    --gradient-mint-heaven: linear-gradient(90deg, #b91c1c 0%, #2563eb 50%, #3b82f6 100%);
    
  }

}

.intro-fm-yellow {
  --fm-yellow: #c8c022;
  background-color: #1e39c2;
  background-image: linear-gradient(162deg,#1e39c2,#1e39c2 59%,#c8c022 0,#c8c022 0);
}

.intro-nft-tracker {
  background: var(--gradient-nft-tracker);
}

.intro-art-box {
  background: var(--gradient-art-box);
}

.intro-art-box-marketplace {
  background: var(--gradient-art-box-marketplace);
}

.intro-mint-heaven {
  background: var(--gradient-mint-heaven);
}

.intro-curio-insights {
  background: var(--gradient-curio-insights);
}

